*{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout:none;
  /*-webkit-user-select:none;*/
}
html {touch-action: manipulation;}
body{background-color:rgba(255,170,0,1);}
body{color:#000; font-family:"Gulim",sans-serif; font-weight:700; font-size:125%;}
body{text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;}

.hidden{display:none;}

/*ここからアラートとバナーのcss*/
/*ここからバナー*/
.banner{
  position : fixed;
  top : -700px;
  left : 25vw;
  width: 50vw;
  background: rgba(55,55,55,0.9);
  text-shadow:none;
  color:white;
  text-align:center;
  z-index:29;
  border-radius : 20px;
  border : solid 3px white;
  animation: animation-banner 5s;
}
.banner p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes animation-banner {
  0%{top:-700px;display:block;}
  6%{top:20px;}
  9%{top:0px;}
  13%{top:12px;}
  19%{top:5px;}
  90%{top:5px;}
  92%{top:7px;}
  100%{top:-700px;}
}
@keyframes animation-banner-up {
  0%{top:0px;}
  100%{top:-700px;}
}

/*ここからアラート*/
  .bgAlert{
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    animation:animation-background 0.3s;
    z-index:29;
  }
  .alert{
    background:rgba(55,55,55,0.9);
    border-radius:30px;
    color: white;
    padding: 20px;
    position :fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-shadow: none;
    text-align: center;
    overflow: hidden;
    border: solid 3px white;
    animation: animation-popup 0.3s;
  }
  .alert p{
    font-size:120%;
  }
  .alert button{
    color: white;
    background: rgba(200,200,200,0.5);
    width:calc(50% - 10px);
    border-radius: 30px;
    margin: 5px 5px;
    outline-color: white;
    padding:10px;
    border: 2px solid white;
  }
  .alert button:active {
    border-color: #AAA;
    color:#AAA;
    background: rgba(0,0,0,0.7);
  }
  .alert div{
    font-size:70%;
    text-align: right;
  }

  @keyframes animation-background{
    0%{display:  none; background: rgba(0,0,0,0);}
    1%{display:  block;background: rgba(0,0,0,0);}
    100%{display:block;background: rgba(0,0,0,0.5);}
  }
  @keyframes animation-popup{
    0%{display:none  ;padding-top: 0px;padding-bottom :0px;height:0px;}
    20%{display:block;padding : 0px;height:0px;}
    25%{display:block;padding : 0px 60px;height:0px;}
    40%{display:block;padding : 10px 20px;height:0px;}
    90%{display:block;padding-top: 25px;padding-bottom :25px;height:auto;}
    100%{display:block;padding-top: 20px;padding-bottom :20px;height:auto;}
  }
  /*ここまでアラート*/

/*ここからローディング*/
    .bg{
      position:fixed;
      top:0px;
      right:0px;
      width:100%;
      height:100%;
      background: rgba(0,0,0,0.5);
      z-index:30;
    }
    .loading{
      color: #FFF;
      font-family: Gothic;
      position :fixed;
      top: 50%;
      left:50%;
      transform:translate(-50%,-50%);
      text-shadow: none;
      text-align: center;
    }
    .loading p{
      font-size:150%;
    }
    .load{
      left:50%;
      width:100px;
      height:100px;
      border-radius: 100px;
    }
    .way{
      position:static;
      width:100%;
      height:80px;
      vertical-align: middle;
    }
    .round{
    }
    .round{
      animation: animation-dash 5s ease-in-out 0s infinite normal;
      transform:translate(-10%,-10%);
      font-size:20px;
      color: rgba(255,255,255,0.1);
      width:auto;
      position:relative;
      vertical-align: middle;
      width:0;
      overflow: visible;
    }
    .loading button{
      color: white;
      background: rgba(0,0,0,0.2);
      border-radius: 30px;
      outline-color: white;
      padding:10px;
      border: 2px solid white;
      animation: animation-button-appears 10s ease 0s;
    }
    .loading button:active {
      border-color: #AAA;
      color:#AAA;
      background: rgba(0,0,0,0.4);

    }
    @keyframes animation-dash {
      0%{left:0px;top:0%; font-size: 20px;color:rgba(255,255,255,0.01);}
      20%{left:50%;top:0%; font-size: 30px;color:rgba(255,255,255,1);}
      50%{left:100%;top:0%; font-size: 20px;color:rgba(255,255,255,0.01);}
      70%{left:50%;top:0%; font-size: 30px;color:rgba(255,255,255,1);}
      100%{left:0%;top:0%; font-size: 20px;color:rgba(255,255,255,0.01);}
    }
    @keyframes animation-button-appears{
      0%{color: rgba(255,255,255,0);background: rgba(0,0,0,0.0);border-color:rgba(255,255,255,0);pointer-events: none;}
      95%{color: rgba(255,255,255,0);background: rgba(0,0,0,0.0);border-color:rgba(255,255,255,0);pointer-events: none;}
      100%{color: rgba(255,255,255,1);background: rgba(0,0,0,0.2);border-color:rgba(255,255,255,1);pointer-events: auto;}
    }
