<!DOCTYPE html><html lang="ja"><head><meta charset="utf-8">
<script type="text/javascript" src="ken.js"></script>
<link rel="stylesheet" href="static/ken.css" type="text/css">
<link rel="stylesheet" href="static/other.css" type="text/css">
<html><head><title>鍵管理アプリ</title></head>
  <body onLoad="Loading()">
    <span id="Realtime" class="time">00/00(0) 00:00:00</span>
    <span id="data" class="hidden">4月1日 0時0分,0</span><br>
    <span id="log" class="hidden">0,0,0,0</span><br>
    <span class="area_status">
      〜現在の研究室の状況〜<br>
      <span id="Status">データ受信中</span><br><br><br>
      〜<span id="Operation">操作</span>時刻〜<br>
      <span id="LockTime">データ受信中</span><br><br><br>
      〜操作履歴〜<br>
      <table class="log_table" id="log_table" border="1">
        <tr><td>0</td></tr><tr><td>1</td></tr><tr><td>2</td></tr><tr><td>3</td></tr>
      </table>
    </span>
    <button class="master mybutton masterbutton" onclick="OperatorCommand()">管理者コマンド</button>
    <span id="demo" class="hidden">
      <button id="d1" class="mybutton demobutton" onclick="Submit('/demo','1')">1<br>在室</button>
      <button id="d2" class="mybutton demobutton" onclick="Submit('/demo','2')">2<br>施錠</button>
      <button id="d3" class="mybutton demobutton" onclick="Submit('/demo','3')">3<br>照明</button>
      <button id="d4" class="mybutton demobutton" onclick="Submit('/demo','4')">4<br>不在</button>
    </span>
    <span id="exit" class="hidden">
      <button class="exit mybutton masterbutton" onclick="Submit('/alert','1')">退室勧告(未実装)</button>
    </span>
  </body>
  <script>
    var Before_Status=0;
    setInterval("Check()",5000);
    function Loading(){
      Receive('/getlog','log');
      Receive('/lux','data');
    }
    function InitialLog(){
      var data=document.getElementById('log');
      var table=document.getElementById('log_table');
      var Operation=document.getElementById('Operation');
      var LockTime=document.getElementById('LockTime');

      var Now_data=data.innerHTML;
      var Now_data2=Now_data.split(',');
      var row_len=table.rows.length;

      for(var i=0;i<4;i++){
        var row=table.insertRow(0);
        var cell=row.insertCell(-1);
        cell.innerHTML=Now_data2[i];
        table.deleteRow(row_len);
      }

      var Now_data3=Now_data2[3].split(' ');
      Operation.innerHTML=Now_data3[2];
      LockTime.innerHTML=Now_data3[0]+" "+Now_data3[1];
    }
    var count = 1;
    function Check(){
      if(count==1){
        InitialLog();
        count=0
      }
      Receive('/lux','data');
      var data=document.getElementById('data');
      var Now_data=data.innerHTML;
      var Now_data2=Now_data.split(',');
      var Now_time=Now_data2[0];
      var Now_status=Now_data2[1];
      if(Now_status==Before_Status){
        //banner("状態一定","変化なし");
        if((Now_status==1)||(Now_status==4)){
          time=MakeTime();
          if(time=="2200"){
            Submit('/alert','1');
          }
        }
      }else{
        var message=document.getElementById('Status');
        if(Now_status==1){
          document.body.style.backgroundColor = "#c8ffaa";
          message.innerHTML="鍵は開いています";
          banner("解錠","解錠されました");
          if((Before_Status==2)||(Before_Status==3)||(Before_Status==5)){
            UpdateLog(0);
          }
        }else if(Now_status==2){
          document.body.style.backgroundColor = "#ffc8e0";
          message.innerHTML="鍵は閉まっています";
          banner("施錠","施錠されました");
          if((Before_Status==1)||(Before_Status==3)||(Before_Status==4)){
            UpdateLog(1);
          }
        }else if(Now_status==3){
          document.body.style.backgroundColor = "#ffffa0";
          message.innerHTML="電気が点けっ放しです";
          showAlert('警告','電気は消しましたか？','confirm',"Submit('/demo','2')");
        }else if(Now_status==4){
          document.body.style.backgroundColor = "#a0ffff";
          message.innerHTML="現在席を外しています";
          banner("無人","現在席を外しています");
          if((Before_Status==2)||(Before_Status==3)||(Before_Status==5)){
            UpdateLog(0);
          }
        }else if(Now_status==5){
          document.body.style.backgroundColor = "#646464";
          message.innerHTML="利用時間外です";
          banner("利用時間外","現在は利用時間外です");
          if((Before_Status==1)||(Before_Status==4)){
            UpdateLog(1);
          }
        }else{
          document.body.style.backgroundColor = "#c8a0ff";
          message.innerHTML="状況不明";
          banner("ERROR","システムエラーです");
        }
        Before_Status = Now_status;
      }
    }
    function UpdateLog(s){
      var status = new Array("解錠","施錠");
      var Operation=document.getElementById('Operation');
      var LockTime=document.getElementById('LockTime');
      var table=document.getElementById('log_table');
      var data=document.getElementById('data');
      var Now_data=data.innerHTML;
      var Now_data2=Now_data.split(',');
      var time=Now_data2[0];
      var row_len=table.rows.length;
      var row=table.insertRow(0);
      var cell=row.insertCell(-1);
      LockTime.innerHTML=time;
      Operation.innerHTML=status[s];
      cell.innerHTML=time+" "+status[s];
      table.deleteRow(row_len);
      var message = cell.innerHTML;
      Submit('/log',message);
    }
    function MakeTime(){
      var nowTime=new Date();
      var nowHour=nowTime.getHours();
      var nowMin=nowTime.getMinutes();
      var time=nowHour+set2fig(nowMin);
      return time;
    }
    function OperatorCommand(){
      document.getElementById('demo').style.display="block";
      document.getElementById('exit').style.display="block";
    }

    const Receive = async(url,element) => {
      const sensorData = await fetch(url)
      .then(response => response.text())
      const target = document.getElementById(element)
      target.innerHTML = `${sensorData}`
    }
    //データ送信用(デモ・ログ・アラート)
    const Submit = async(url,element) => {
      var url2 = String(url) + "/" + String(element);
      const return_from_server = await fetch(url2)
      .then(response => response.text())
      var response2 = `${return_from_server}`
    }
  </script>
</html>
